@font-face {
    font-family: 'primary';
    src: url('../assets/fonts/CooperLightBT.ttf');
}

@font-face {
    font-family: 'secondary';
    src: url('../assets/fonts/Rosario-Light.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/images/blue attempt.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

.main-body {
    margin-top: 1%;
    margin-bottom: 3%;
    display: none;
} 

.section {
    margin-bottom: 8%;
}

.section-header-text {
    font-family: "primary";
    color: EDB418;
}

.section-sub-header-text {
    font-family: "secondary";
    font-size: 14pt;
    color: white;
    margin-bottom: 5%;
}

.common-button {
    text-transform: uppercase;
    background-color: #EDB418;
    border-radius: 0%;
    font-size: 14px;
    color: #23334B;
    font-size: 12px;
    font-family: "primary";
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 26px;
    width: 100%;
}

.common-button:hover {
    background-color: #a57d10;
}

.svg-icon {
    height: 1.5em;
    width: 1.5em;
    color: #fff;
}

.loading{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #EDB418;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }


/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .container {
        width: 95%;
    }

    .section-header-text {
        font-size: 18pt;
    }

    .section-sub-header-text {
        font-size: 10pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 8px;
    }

    .section {
        margin-bottom: 20%;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { 
    .container {
        width: 100%;
    }

    .section {
        margin-bottom: 8%;
    }

    .section-header-text {
        font-size: 18pt;
    }

    .section-sub-header-text {
        font-size: 11pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 8px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  
    .container {
        width: 100%;
    }

    .section {
        margin-bottom: 8%;
    }

    
    .section-header-text {
        font-size: 25pt;
    }

    .section-sub-header-text {
        font-size: 12pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 12px;
    }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .container {
        width: 100%;
    }

    .section {
        margin-bottom: 8%;
    }

    
    .section-header-text {
        font-size: 30pt;
    }

    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 14px;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .container {
        width: 100%;
    }

    .section {
        margin-bottom: 8%;
    }

    
    .section-header-text {
        font-size: 30pt;
    }

    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 14px;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  
    .container {
        width: 100%;
    }

    .section {
        margin-bottom: 8%;
    }

    
    .section-header-text {
        font-size: 30pt;
    }

    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    
    .common-button {
        font-size: 14px;
    }
}