.hello-image {
    width: 100%;
    margin-top: 5%
}

.greeting-text {
    font-family: "primary";
    font-size: 40pt;
    color: hsl(163, 31%, 38%);
    margin-top: 4%
}

.about-me-text {
    font-family: "secondary";
    text-align: center;
    font-size: 16pt;
    color: grey;
    line-height: 1.3;
    margin-top: 14%;
    margin-bottom: 10%;
}

/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .greeting-text {
        font-size: 20pt;
        margin-top: 4%;
    }

    .about-me-text {
        font-size: 11pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
    .greeting-text {
        font-size: 20pt;
        margin-top: 4%;
    } 

    .about-me-text {
        font-size: 12pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  
    .greeting-text {
        font-size: 30pt;
        margin-top: 4%;
    }

    .about-me-text {
        font-size: 13pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .greeting-text {
        font-size: 40pt;
        margin-top: 4%;
    }

    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .greeting-text {
        font-size: 40pt;
        margin-top: 4%;
    }

    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  
    .greeting-text {
        font-size: 40pt;
        margin-top: 4%;
    }

    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
    }
}