.caption {
    font-family: "secondary";
    font-size: 14pt;
}

.technical-skills-header {
    margin-bottom: 5%
}

.icon-div {
    margin-bottom: 4%;
}

/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .caption {
        font-family: "secondary";
        font-size: 10pt;
    }
    
    .technical-skills-header {
        margin-bottom: 10%
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    
    .technical-skills-header {
        margin-bottom: 5%
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    
    .technical-skills-header {
        margin-bottom: 5%
    }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    
    .technical-skills-header {
        margin-bottom: 5%
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    
    .technical-skills-header {
        margin-bottom: 5%
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    
    .technical-skills-header {
        margin-bottom: 5%
    }
}