.job-title {
    font-family: "primary";
    font-size: 17pt;
    color: hsl(163, 31%, 38%);
}

.job-dates {
    font-style: italic;
}

.timeline {
    width: 100%;
    padding: 4% 6% 0% 0%;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 58px;
    left: calc(29% + 21px);
    bottom: 65px;
    width: 4px;
    background: #ddd;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .title.current:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 8px solid hsl(163, 31%, 38%);
    background-color: #fff;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .title.current:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 8px solid hsl(163, 31%, 38%);
    background-color: #fff;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 8px solid hsl(163, 31%, 38%);
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .title h3 {
    margin: 0;
    font-size: 120%;
}

.entry .title p {
    margin: 0;
    font-size: 100%;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .body p {
    line-height: 1.4em;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.entry .body ul {
    color: grey;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li:before {
    content: "–";
    margin-right: .5em;
}

li {
    margin-bottom: 10px;
}

@keyframes pulse-ring {
    0% {
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}