.other-section-header {
    margin-bottom: 5%;
}

.gt-half {
    margin-top: 1.5%;
}

.school-images {
    width: 100%;
}

.side-project-subtext {
    margin-bottom: 2%;
}

/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .other-info-section {
        margin-bottom: 5%;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  
    .other-info-section {
        margin-bottom: 2%;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 
    .other-info-section {
        margin-bottom: 2%;
    } 

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .other-info-section {
        margin-bottom: 2%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
    .other-info-section {
        margin-bottom: 2%;
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    .other-info-section {
        margin-bottom: 2%;
    }  
}