.contact-image {
    width: 100%;
}

.contact-me-section {
    padding-bottom: 8%;
}

.custom-form-field {
    font-family: "secondary";
    font-size: 12pt;
    border: 2px solid hsl(163, 31%, 38%);
    border-radius: 0px;
    background-color: transparent;
}

.form-control:focus {
    background-color: transparent;
    border: 2px solid hsl(163, 31%, 38%);
}

/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  
}