.contact-image {
    width: 100%;
}

.contact-me-section {
    padding-bottom: 8%;
}

.custom-form-field {
    font-family: "secondary";
    font-size: 12pt;
    color: #fff;
    border: 2px solid #EDB418;
    border-radius: 0px;
    background-color: #23334B;
}

.form-control:focus {
    background-color: #23334B;
    border: 2px solid #EDB418;
}

/* MEDIA QUERIES */

/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width:320px) {
    .contact-image {
        padding-bottom: 6%;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (min-width:481px) {
    .contact-image {
        padding-bottom: 0%;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (min-width:641px) {
    .contact-image {
        padding-bottom: 0%;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:961px) {
    .contact-image {
        padding-bottom: 0%;
    }
}

/* big landscape tablets, laptops, and desktops */

@media (min-width:1025px) {
    .contact-image {
        padding-bottom: 0%;
    }
}

/* hi-res laptops and desktops */

@media (min-width:1281px) {
    .contact-image {
        padding-bottom: 0%;
    }
}